<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All In One Insurance</title>
        {% comment %} Bootstrap CSS {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body>
      <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="/account">View Account</a>
        <a class="navbar-brand" href="/logout">Log Out</a>
        <a class="navbar-brand" href="/home">Home</a>
        <a class="navbar-brand" href="/view_insurance">View Insurance</a>
        {% if user.accType == "insurance_provider" %}
        <a class="navbar-brand" href="/sell_insurance">Sell Insurance <span class="sr-only">(current)</span></a>
        {% endif %}
        {% if user.accType == "customer" %}
        <a class="navbar-brand" href="/make_claim">Make Claim</a>
        {% endif %}
        {% if user.accType == "government" %}
        <a class="navbar-brand" href="/view_claim">View Claims</a>
        {% endif %}
        {% if user.accType == "customer" %}
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="#myInsurance">My Insurance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#myClaims">My Claims</a>
            </li>
          </ul>
        {% endif %}
      </nav>
          <div class="container h-100 w-25 mx-auto pt-5">
            <h2 class="row align-items-center justify-content-center text-center text-decoration-underline">Sell Insurance</h2>
            <form action="/sell_insurance" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3 row align-items-center justify-content-center">
                        {{field.label_tag}} {{field}}
                    </div>
                {% endfor %}
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary col">Sell</button>
                </div>
            </form>
        </div>
        {% comment %} Bootstrap Javascript {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    </body>
</html>